@import url(normalize.css);
@import url(fonts.css);
:root{
    --main-bg-color: #5a4829;
    --light-fg-color: #548ce4;
    --color-tert-d: #413418;
    --color-tert-l: #2f459e;
    --color-sec:  #94b0de;
    --color-q: #e6d2ac;
}
body{
    background-color:var(--main-bg-color);
}
.content{
    display: grid;
    grid-template-columns: 10% 70% auto;
    gap: 1rem;
}
.sidebar{
   /* position: fixed;
   left:0;
   width: 12.5%; */
   background-color: var(--light-fg-color);
   margin: 0 0 0 1rem
}
.heading{
    margin:0
}

.color_tert_d{
    background-color: var(--color-tert-d)
 
}
.color_tert_l{
    background-color: var(--color-tert-l)
}
.color_secondary{
    background-color: var(--color-sec)
}

.pre{
    display: block;
}
.font_default{
    font-family: Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
}
.construction{
    background-image: url(http://textfiles.com/underconstruction/Chamber6387artconstruct_line_1.gif);
    background-repeat: repeat-x;
    margin-left: -10000px;
}
nav ul {
    list-style-type: none;
}
.jumbotron{
    background-color: var(--light-fg-color);
    grid-template-columns: 35% 65%;
    display: grid;
    
}
footer{
        background-color: var(--light-fg-color);
        margin: 1rem
    }


.jumbotron_outer{
    grid-template-rows:10%, 70%, 10%;
    height: fit-content !important; 
}

.jumbotron_inner{
    grid-template-rows:90%, 10%;
}
.jumbotron_outer>nav{
background-color: #16120d;
  color: #fff;
}

.color_q{
    background-color: var(--color-q);
}

a.hoveredit:hover{
    font-family: "7_12_serif";
    font-style: italic;
    font-size: 32px;
}
a.hoveredit::before{
display: none;
}
a:hover.hoveredit::before{
    display: inline-block;
        content: "->"
    }
a{
    color: #523418;
    text-decoration-thickness: 2px;
}

.expand_nav{
    padding: 1rem 1rem
}
li{
    list-style-type: "· "
}

.verpad{
    padding: 0 1rem
}

.lhzero{
    line-height: 0;
}


*{
    line-height: 1;
}