@import url(https://fonts.bunny.net/css?family=akaya-kanadaka:400|annie-use-your-telescope:400);


.f1{
font-family: 'Akaya Kanadaka', display;
}
.f2{
  font-family: 'Annie Use Your Telescope', handwriting;
}
.white{
  color: white
}