.bitview::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/bitview.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.dreamwidth::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/dreamwidth.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.flirb::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/flirb.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.hjonk::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/hjonk.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.pikidiary::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/pikidiary.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.spacehey::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/spacehey.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.bluesky::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/bluesky-2.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.flickr::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/flickr.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.insta::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/instagram.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.lastfm::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/lastfm.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.reddit::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/reddit.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.tiktok::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/tiktok.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.tumblr::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/tumblr.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.twatter::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/twitter.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.youtube::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/youtube.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}
.youtube-2::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/youtube-2.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}


.icondock::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/icondock.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}

.github::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/github.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}

.openvk::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/openvk.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}

.kamtape:before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/kust/kamtape.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}

.social-email::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/social-email.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}

.bliish::before{
     content: url("https://raw.githubusercontent.com/thedumboptimist/website/refs/heads/main/stuff/ext/icons/bliish.png");
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  position: relative;
  top:+2px
}