@import url(https://db.onlinewebfonts.com/c/aae462773966100890bdfe4a8188cc0a?family=Marker+Felt);
@import url(https://fonts.bunny.net/css?family=roboto:700);

/* an attempt to make a fake notes app with css */

div.notes{
    height: 480px;
    width: 320px;
}
div.notes nav{
    background-image: url("/site/notes/img/top bar.png");
    height: 44px;
    width: 320px;
    align-content: center;
}
div.notes nav h2{
    font-family: Roboto;
text-align: center;
color: white;
text-shadow:0 -1px black ;
position: relative;
transform: translateY(-40%);
}
div.notes div.body{
    background-image: url("/site/notes/img/bodyMarginThin.png");
    height: 416px;
    width: 320px;
}

div.notes div.body hr{
  border-color:gray;  
}

div.notes div.body p{
margin-left: 24px;
margin-top: 0;
padding-bottom: 18px;
margin-block: 0 0;
font-family: "Marker Felt";
    position: relative;
    top: 22px;
    font-size:24px
}


/**/
:root {
  --main-bg-color: darkseagreen;
}

div.jumbotron img{
    width: 100%;
}
div.jumbotron{
    background-color: seagreen;
    margin: auto;
    display: flex;

   
}
div.jumbotron div.jumbotron-left{
    width: 75%;
}

div.jumbotron div.sidebar{
    background-color: lightgreen;
    padding-left: 24px;
    width: 25%;
    overflow-y: scroll;
}

body{
    background-color: var(--main-bg-color);
    margin: 0 24px
}

div.jumbotron div.jumbotron-left h1{
    font-size: 64px;
    margin: 16px
}

footer div.footer{
     background-color: seagreen;
    margin: auto;
    margin-top: 16px !important;
    display: flex;
}

nav.outer{
     background-color: seagreen;
    margin: auto;
    margin-bottom: 16px !important;
    display: flex;
}

ul.nobullets
{
    list-style-type: none;
}

.medtext{
    font-size: 20px;
}
.decreasemarginforthisonethingy{
    margin-top: -24px
}
ul.nobullets li
{
    margin-left: -24px
}

.col{
    display: flex;
}


div.sidebar{
    background-color: white;
}
.grow2{
flex-grow: 2;
}

.grow3{
flex-grow: 3;
}

.main-content{
    margin: 0 24px;
}

.scan-col{
    position: relative;
    top: 24px;
}

.section-margin{
margin: 16px 0 ;
}

.col-margin{
margin: 0 16px;
}
.seagreen{
    background-color: seagreen;
}

.col-weird-left{
margin: 0 0 0 16px;
}
.header-weird{
        margin: 16px;
}

.flex-wrap{
     flex-wrap: wrap;
     display: flex;
}

