:root {
  --main-bg-color: darkseagreen;
}

div.jumbotron img{
    width: 100%;
}
div.jumbotron{
    background-color: seagreen;
    margin: auto;
    display: flex;

   
}
div.jumbotron div.jumbotron-left{
    width: 75%;
}

div.jumbotron div.sidebar{
    background-color: lightgreen;
    padding-left: 24px;
    width: 25%;
    overflow-y: scroll;
}

body{
    background-color: var(--main-bg-color);
    margin: 0 24px
}

div.jumbotron div.jumbotron-left h1{
    font-size: 64px;
    margin: 16px
}

footer div.footer{
     background-color: seagreen;
    margin: auto;
    margin-top: 16px !important;
    display: flex;
}

nav.outer{
     background-color: seagreen;
    margin: auto;
    margin-bottom: 16px !important;
    display: flex;
}

ul.nobullets
{
    list-style-type: none;
}

.medtext{
    font-size: 20px;
}
.decreasemarginforthisonethingy{
    margin-top: -24px
}
ul.nobullets li
{
    margin-left: -24px
}

.col{
    display: flex;
}


div.sidebar{
    background-color: white;
}
.grow1{
flex-grow: 2;
}

.grow2{
flex-grow: 3;
}

.content{
    margin: 0 24px;
}

.side{
    position: relative;
    top: 24px;
}

.chunk{
margin: 16px 0 
}