:root {
  --main-bg-color: darkseagreen;
}

div.jumbotron img{
    width: 100%;
}
div.jumbotron{
    background-color: seagreen;
    margin: auto;
    display: flex;
    width: 75%;
 
   
}
div.jumbotron div.jumbotron-left{
    width: 75%;
}

div.jumbotron div.sidebar{
    background-color: lightgreen;
    padding-left: 24px;
    width: 25%;
    overflow-y: scroll;
}

body{
    background-color: var(--main-bg-color);
}

div.jumbotron div.jumbotron-left h1{
    font-size: 64px;
    margin: 16px
}

footer div.footer{
     background-color: seagreen;
    margin: auto;
    margin-top: 15px !important;
    display: flex;
    width: 75%;
}

ul.nobullets
{
    list-style-type: none;
}

.medtext{
    font-size: 20px;
}
.decreasemarginforthisonethingy{
    margin-top: -24px
}
ul.nobullets li
{
    margin-left: -24px
}